[Desktop Entry]
Version=1.0
Type=Application
Name=E32HW Control
Comment=Control the E32HW Quad-copter from a computer with a joystick
Terminal=true
Exec=e32hw-control-wait-on-error
Icon=com.github.unrud.e32hw-control
Categories=Network;ConsoleOnly;
